$nav-height: 4rem;
$body-height: calc(100vh - #{$nav-height});


// Theme
$primary: #1B4965;
$secondary: #5FA8D3;
$third: #62B6CB;
$fourth: #BEE9E8;
$fifth: #CAE9FF;

//Colors
$white: #FFF;
$light-gray: #dcdcdc;
$text-color: #495057;
$green: #1bad65;

