$nav-height: 4rem;
$body-height: calc(100vh - #{$nav-height});

// Colors
$dark-purple: #310951;
$primary: #006871;
$secondary: #3dccc2;
$light-mint: #d6fffc;
$white: #FFF;
$light-gray: #dcdcdc;
$text-color: #495057;