{
  "singleQuote": true,
  "printWidth": 120,
  "htmlWhitespaceSensitivity": "ignore",
  "jsxBracketSameLine": true,
  "overrides": [
    {
      "files": "*.scss",
      "options": {
        "singleQuote": true
      }
    }
  ]
}