.carousel {
  width: 100%;
  font-size: 1em;

  &__carouselItem {
    display: flex;
    flex-direction: row;
    color: $white;

    &__text {
      width: 60%;
      padding: 10vh 20vh 10vh 20vh;

      &__title {
        font-size: 6em;
      }

      &__header {
        font-size: 3em;
        font-weight: bold;
        padding-bottom: 1em;
      }

      &__body {
        font-size: 3em;
      }

      @include media('<=phone') {
        width: 100%;
        padding: 2em;
      }
    }

    &__image {
      width: 40%;
      display: flex;

      img {
        margin: auto;
        width: 50vh;
      }

      @include media('<=phone') {
        display: none;
      }
    }
  }

  &__navBtn {
    position: absolute;
    z-index: 1;
    margin-top: calc(#{$body-height} / 2);
    font-size: 3em;
    color: $white;

    &--next {
      right: 0;
      padding-right: 0.5em;
    }

    &--prev {
      padding-left: 0.5em;
    }

    @include media('<=phone') {
      display: none;
    }
  }

  &__bullets {
    display: flex;
    width: 100%;

    &__bullet {
      display: flex;
      flex: 1;

      &--active {
        background-color: $primary;
      }
    }
  }

  @include media('<=phone') {
    font-size: 0.6rem;
  }
}
