.epsMatch {
  display: flex;
  flex-direction: row;
  height: 100%;
  
  @include media('<=phone') {
    min-width: 100vh;
    max-width: 100vh;
    scroll-snap-type: x mandatory;
    overflow: auto;
  }
}
